@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import "tailwindcss";
html, body {
  overflow-x: hidden;
}


@keyframes robotDrop {
  0% {
    opacity: 0;
    transform: translateY(-300px) scale(0.7);
  }

  60% {
    opacity: 1;
    transform: translateY(20px) scale(1.05);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.animate-robotDrop {
  animation: robotDrop 1.5s ease-out forwards;
}

.font-zen{
  font-family: 'Zen Dots', sans-serif;
}